{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}


{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> 新建用户 </h3>
        </div>
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                    <!-- label 就是models 定义verbose_name -->
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <!-- [错误1, 错误2, ...] -->
                    <span style="color:red;">{{ field.errors.0 }}</span>
                    <!-- <input type="text" class="form-control" placeholder="" -->
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">保 存</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script> 
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script> 

    <script type="text/javascript">
        $(function(){
            $('#id_create_time').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: "zh-CN",
                autoclose: true,
                // todayBtn: true,
                // clearBtn: true
            });
        });
    </script>
{% endblock %}